   <form action="/memos/create" method="post">
        <div>
            <label for="name">タイトル</label><br>
            <input type="text" name="name" maxlength=20>
        </div>
        <br>
        <div>
            <label for="message">内容</label><br>
            <textarea name="message" maxlength=100></textarea>
        </div>
        <br>
        <input type="submit" value="保存する">
    </form>
    <a href="/memos">TOPへ戻る</a>
